<body class="login-body">
    <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">
        <div class="col-12 col-md-12 col-xl-12 ">
            <div class="navbar-collapse d-flex">
                <div class="nav-item m-auto ">
                    <a class="nav-link font-weight-bold mx-auto" href="../public/..">
                        <img src="/public/img/science-and-fiction_launch.svg">
                    </a>
                </div>
            </div>
        </div>
    </nav>
