<!-- TABS -->
<div class="peroson-menu-hiden person-menu-profile border-bottom bg-white">
    <div class="col-md-7 col-lg-7 col-sm-12 col-xl-7 person-menu-profile-tabs offset-md-4 offset-lg-4">
        <div class="row flex-row topnav">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="active tabs col-4 d-flex flex-column align-items-center text-secondary font-weight-bold" data-toggle="tab" href="#tweets" role="tab">
                        <span>Posts</span><span class="text-secondary font-weight-bold h4">{{posts|length}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="tabs col-4 d-flex flex-column align-items-center text-secondary font-weight-bold" data-toggle="tab" href="#following" role="tab">
                        <span>Following</span><span class="text-secondary font-weight-bold h4 pl-2">{{following|length}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="tabs col-4 d-flex flex-column align-items-center text-secondary font-weight-bold" data-toggle="tab" href="#followers" role="tab">
                        <span>Followers</span><span class="text-secondary font-weight-bold h4 pl-2">{{followers|length}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <a href="inform" class="text-secondary font-weight-bold person-menu-profile-tabs-edit pt-2">Edit Profile</a>
    </div>
</div>
<!-- TABS END -->