<div  class="message-feed right" >
    <div class="pull-right">
       <img src="{{server}}{{ messages[0]['photo']}}" alt="" class="img-avatar pull-left">
    </div>
    <div class="media-body">
       <div class="mf-content">
            {{ messages[0]['text'] }}
        </div>
        <small class="mf-date"><i class="fa fa-clock-o"></i> {{ messages[0]['created_at'] }}</small>
    </div>
</div>
