<!-- RIGHT SIDE -->
                <div class="who__follow col-12 col-md-3 col-xl-3">
                    <div class="who__follow-content p-2">
                        <span class="h4 font-weight-light">Who to follow</span>·<span class="link">View all</span>
                            <!-- one-person -->
                        {{ include('user/blocks/user-card-right-panel.twig') }}
                            <!-- one-person end -->
                            <!-- one-person -->

                            <!-- one-person end -->
                    </div>
{#                    <!-- ADVERTISE -->#}
{#                    <section class="profile-body-main-advertise mt-3">#}
{#                        <div class="col-12 p-3 advertise-block d-flex flex-column container">#}
{#                            <span class="h7">© 2020 dev<span style="color: #e64e6c; font-weight: bold">{</span>communication<span style="color: #e64e6c">}</span></span>#}
{#                            <hr class="profile-body-main-advertise-hr">#}
{#                            <span class="profile-body-main-advertise-span text-primary"></span>#}
{#                        </div>#}
{#                    </section>#}
{#                    <!-- ADVERTISE END-->#}
                </div>
                <!-- RIGHT SIDE END -->
        </div>
    </div>
</div>